.lead {
  margin: 0 auto;
	display: grid;
	grid-template-columns: minmax(auto, 588px) minmax(auto, 587px);
  column-gap: 24px;
  max-width: 100%;
}

@media screen and (max-width: 1439px) {
  .lead {
    grid-template-columns: minmax(auto, 488px) minmax(auto, 487px);
    column-gap: 20px;
  }
}

@media screen and (max-width: 1279px) {
  .lead {
    grid-template-columns: minmax(auto, 388px) minmax(auto, 387px);
    column-gap: 20px;
  }
}

@media screen and (max-width: 1023px) {
  .lead {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }
}
