.reviews__text {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #848FAC;
  text-align: center;
  max-width: 793px;
  width: 100%;
  padding-top: 44px;
}