.lead__photo {
  display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 24px;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	margin-top: 80px;
}

@media screen and (max-width: 1439px) {
  .lead__photo {
    column-gap: 20px;
  }
}

@media screen and (max-width: 1279px) {
  .lead__photo {
    column-gap: 16px;
  }
}

@media screen and (max-width: 600px) {
  .lead__photo {
    column-gap: 8px;
  }
}

@media screen and (max-width: 340px) {
  .lead__photo {
    column-gap: 2px;
  }
}

