.houses__item-subtitle {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #848FAC;
  padding-top: 16px;
}

@media screen and (max-width:1279px) {
  .houses__item-subtitle{
    padding-top: 12px;
    font-size: 16px;
    line-height: 1.1;
  }
}

@media screen and (max-width:1023px) {
  .houses__item-subtitle{
    padding-top: 8px;
    font-size: 12px;
    line-height: 1;
  }
}
