.footer__link {
  text-decoration: none;
  color: #d9dbde;
  font-family: 'Inter', Arial, sans-serif;
  font-size: 16px;
  line-height: 19px;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width:1279px) {
  .footer__link {
    font-size: 12px;
    line-height: 1;
  }
}