.houses__button {
  background-color: #0e1734;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  width: 153px;
  height: 53px;
  color: #fff;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border-radius: 4px;
}

.houses__button:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width:1279px) {
  .houses__button {
    width: 146px;
    height: 47px;
    font-size: 14px;
    line-height: 1;
  }
  
}