.houses__list {
  list-style-type: none;
  padding: 88px 0 0;
  display: flex;
  justify-content: center;
  gap: 24px;
  margin: 0;
}

@media screen and (max-width:1279px){
  .houses__list {
    gap: 18px;
    padding: 58px 0 0;
  } 
}

@media screen and (max-width:767px){
  .houses__list {
    gap: 25px;
    padding: 25px 0 0;
    flex-direction: column;
    margin: 0 auto;
  } 
}
