.interiors__item_size_big {
  grid-column: 1/2;
  grid-row: 1/6;
}

@media screen and (max-width:1279px){
  .interiors__item_size_big {
    grid-column: 1/4;
    grid-row: 2fr;
    max-width: 1020px;
    width: 100%;
  }
}

@media screen and (max-width:1023px){
  .interiors__item_size_big {
    max-width: 750px;
    max-height: 320px;
    height: 100%;
  }
}

@media screen and (max-width:768px){
  .interiors__item_size_big {
    max-width: 320px;
  }
}