.lead__subtitle {
  font-family: inter;
  font-size: 18px;
  line-height: 27px;
  color: #848FAC;
  margin: 0;
  margin-top: 24px;
  max-width: 485px;
}

@media screen and (max-width: 1439px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 22px;
  }
}

@media screen and (max-width: 1023px) {
  .lead__subtitle {
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    max-width: calc(100% - 80px*2);
    margin-top: 30px;
  }
}

@media screen and (max-width: 600px) {
  .lead__subtitle {
    font-size: 12px;
    line-height: 13px;
  }
}