.benefit__section-bottom {
  max-width: 1094px;
  display: grid;
	grid-template-columns: minmax(auto, 384px) minmax(auto, 584px);
  column-gap: 126px;
  padding-right: 106px;
}

@media screen and (max-width: 1439px) {
  .benefit__section-bottom {
    padding-right: 20px;
  }
}

@media screen and (max-width: 1279px) {
  .benefit__section-bottom {
    column-gap: 46px;
  }
}

@media screen and (max-width: 1023px) {
  .benefit__section-bottom {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    padding: 0;
  }
}

@media screen and (max-width: 767px) {
  .benefit__section-bottom {
    gap: 32px;
    width: 100%;
  }
}