.interiors__item {
  object-fit: cover;
}

/* @media screen and (max-width:1439px){
  .interiors__item {
    width: 
  }
} */

@media screen and (max-width:1279px){
  .interiors__item {
    grid-row: 1fr;
    max-width: 334px;
  }
}

/* @media screen and (max-width:1090px){
  .interiors__item {
    max-width: 330px;
  }
} */

@media screen and (max-width:1023px){
  .interiors__item {
    max-width: 250px;
    max-height: 145px;
  }
}

@media screen and (max-width:767px){
  .interiors__item {
    max-width: 106px;
  }
}