@media screen and (max-width:1279px){
  .interiors__item {
    max-width: 341px;
    width: 100%;
  }
}


@media screen and (max-width:1023px){
  .interiors__item {
    max-width: 256px;
    max-height: 145px;
  }
}

@media screen and (max-width:767px){
  .interiors__item {
    max-width: 106px;
  }
}