@media screen and (max-width:1439px){
  .interiors__item {
    width: 250px;
    height: 170px;
  }
}

@media screen and (max-width:1279px){
  .interiors__item {
    width: 330px;
  }
}

@media screen and (max-width:1023px){
  .interiors__item {
    max-width: 250px;
    max-height: 145px;
  }
}

@media screen and (max-width:767px){
  .interiors__item {
    max-width: 106px;
  }
}