.interiors__gallery {
  padding-top: 38px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  position: relative;
}

@media screen and (max-width:1279px) {
  .interiors__gallery {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    max-width: 1024px;
    width: 100%;
    max-height: 750px;
    height: 100%;
    padding-top: 32px;
    margin: 0 auto;
  }
}

@media screen and (max-width:1023px) {
  .interiors__gallery {
    max-width: 768px;
    max-height: 445px;
    padding-bottom: 40px;
  }
}

@media screen and (max-width:767px) {
  .interiors__gallery {
    max-width: 320px;
    max-height: 232px;
    padding-bottom: 0;
  }
}
