.interiors {
  padding-top: 80px;
}

@media screen and (max-width:1279px) {
  .interiors {
    padding-top: 60px;
  } 
}

@media screen and (max-width:1023px) {
  .interiors {
    padding-top: 40px;
  } 
}