.houses__link {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #424F7B;
  text-decoration: none;
  margin-top: auto;
  padding-top: 32px;
}

.houses__link:hover {
  cursor: pointer;
  opacity: 0.8;
}

@media screen and (max-width:1279px) {
  .houses__link {
    font-size: 16px;
    line-height: 1.1;
    padding-top: 27px;
  } 
}