.footer__columns-title {
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  margin: 0;
  padding-bottom: 24px;
}

@media screen and (max-width:1279px) {
  .footer__columns-title {
    padding-bottom: 16px;
  }
}